html,body {
  width: 100%;
  height: 100%;
}
.cl-nav {
  background: #222222;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  position: relative;
  z-index: 10;
}
.cl-nav .navbar-brand {
  color: #9d9d9d;
}
.cl-nav .navbar-nav>li>a {
  color: #9d9d9d;
}
.cl-nav .navbar-nav>li>a:hover,
.cl-nav .navbar-nav>li>a:focus,
.cl-nav .navbar-brand:hover,
.cl-nav .navbar-brand:focus {
  color: #fff;
}
.cl-nav .navbar-nav>.active>a,
.cl-nav .navbar-nav>.active>a:hover,
.cl-nav .navbar-nav>.active>a:focus,
.cl-nav .navbar-nav>.dropdown>.dropdown-toggle,
.cl-nav .navbar-nav>.dropdown>.dropdown-toggle:hover,
.cl-nav .navbar-nav>.dropdown>.dropdown-toggle:focus {
  background: #080808;
  color: #fff;
}

.cl-menu {
  width: 200px;
  background: rgba(238,238,238,0.98);
  border-right: 1px solid #e7e7e7;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  height: 100%;
  z-index: 1;
}
.cl-menu .cl-menu-ul {
  width: 100%;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
.cl-menu .cl-menu-li {
  width: 100%;
  height: 100%;
  line-height: 36px;
}
.cl-menu .cl-menu-li .cl-menu-boot {
  width: 100%;
  font-size: 15px;
  height: 38px;
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 0 18px;
  cursor: pointer;
  transition: .2s all;
}
.cl-menu .cl-menu-li .cl-menu-boot:hover {
  color: rgb(101, 98, 233);
}
.cl-menu .cl-menu-li .cl-menu-boot i {
  margin-right: 10px;
}
.cl-menu .cl-menu-li .cl-menu-boot:after {
  content: '';
  text-align: right;
  border: 8px solid #000;
  border-radius: 2px;
  float: right;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  margin: 10px -10px 0 0;
  transition: .2s all;
}
.cl-menu .cl-menu-li .cl-menu-boot.cl-menu-show:after {
  transform: rotate(90deg);
  margin-top: 12px;
  transition: .2s all;
}
.cl-menu .cl-menu-li .cl-menu-child {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cl-menu .cl-menu-child .cl-menu-child-item {
  padding-left: 52px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  color: #7e7272;
  transition: .3s all;
  border-left: 0 solid rgb(101, 98, 233);
}
.cl-menu .cl-menu-child .cl-menu-child-item.active,
.cl-menu .cl-menu-child .cl-menu-child-item:hover {
  color: rgb(101, 98, 233);
  border-left: 4px solid rgb(101, 98, 233);
  transition: .3s all;
  background: rgba(255,255,255,0.5);
}

.cl-title-bar {
  height: 38px;
  width: 100%;
  position: relative;
  background: rgba(235, 235, 235, 0.98);
  border-bottom: 1px solid #e7e7e7;
  padding-left: 200px;
}
.cl-title-bar .cl-title-bar-ul {
  overflow: hidden;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 7px;
}
.cl-title-bar .cl-title-bar-item {
  float: left;
  margin: 8px 10px 0;
  height: 30px;
  line-height: 30px;
  width: 160px;
  background: rgba(235, 235, 235, 0.98);
  position: relative;
  border: 1px solid #ada8a8;
  z-index: 10;
  padding: 0 5px;
}
.cl-title-bar .cl-title-bar-item:before {
  content: '';
  display: inline-block;
  width: 42px;
  height: 42px;
  position: absolute;
  background: rgba(235, 235, 235, 0.98);
  border: 1px solid #ada8a8;
  transform: rotate(30deg);
  left: -15px;
  top: 8px;
  z-index: -1;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}
.cl-title-bar .cl-title-bar-item:after {
  content: '';
  display: inline-block;
  width: 42px;
  height: 42px;
  position: absolute;
  background: rgba(235, 235, 235, 0.98);
  border: 1px solid #ada8a8;
  transform: rotate(-30deg);
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  right: -15px;
  top: 8px;
  z-index: -1;
}
.cl-title-bar .cl-title-bar-item:hover,
.cl-title-bar .cl-title-bar-item:hover::before,
.cl-title-bar .cl-title-bar-item:hover::after {
  background: rgba(245, 245, 245, 0.98);
}
.cl-title-bar .cl-title-bar-item.active,
.cl-title-bar .cl-title-bar-item.active:before,
.cl-title-bar .cl-title-bar-item.active:after {
  background: #fff;
  z-index: 11;
}
.cl-title-bar .cl-title-bar-item.active span,
.cl-title-bar .cl-title-bar-item.active i {
  position: relative;
  z-index: 12;
}
.cl-title-bar .cl-title-bar-item i {
  float: right;
  margin: 8px 0 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
}

.main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 200px;
  padding-top: 87px;
}
.main .cl-body {
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: hidden;
}